<div class='container'>
<div id="main">
   <div>
    <%= link_to image_tag("main.png") %>
   </div>
   <div>
    <%= link_to image_tag("1.png") %>
   </div>
   <div>
    <%= link_to image_tag("2.png") %>
   </div>
   <div>
    <%= link_to image_tag("3.png") %>
   </div>
   <div>
    <%= link_to image_tag("4.png") %>
   </div>
   <div>
    <%= link_to image_tag("5.png") %>
   </div>
   <div>
    <%= link_to image_tag("6.png") %>
   </div>
    <div>
    <%= link_to image_tag("7.png") %>
   </div>
   <div>
    <%= link_to image_tag("8.png") %>
   </div>
</div>

<% if signed_in? %>
<% else %>
<div id="start">
<%= link_to 'Get Started!', login_path, :class => 'white', :id => 'start_link' %>
</div>
<% end %>


	<label for="" style='display: inline-block;'>Find 
		<a id="instrument_search"><%= @instrument %></a>
		<a id='genre_search'><%= @genre %></a>
	</label>
	<button id='search_button' class='btn btn-primary' style='display: inline-block;'>Go</button>
	<div id='search_pop_up'></div>
	<table class='table'>
		<% @users.each do |user| %>
			<tr><td><%= user.first_name %></td></tr>
		<% end %>
	</table>
	<form id='search_form' action=<%= users_path %> method='get'>
		<input type="hidden" name='test' value='test'>
		<input id="search_instrument_val" type="hidden" name='search[instrument]' >
		<input id='search_genre_val' type="hidden" name='search[genre]' value='<%= @genre %>'>
		<input type="hidden" name='authenticity_token' value=<%= form_authenticity_token %>>
	</form>

</div>