<div class='container'>
	<h1>New User</h1>

	<% if flash[:notice] %>
		<% flash[:notice].each do |error| %>
			<h3 class='errors'><%= error %></h3>
		<% end %> 	
	<% end %> 
	<%= simple_form_for(@user, html: {class: 'form' }) do |f| %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.button :submit, class: "btn btn-primary"  %>
	<% end %> 
</div>