<div class="space">
<div id="container_reg" class='container'>

<h3 id="reg_title">Please answer a few questions to register to Harmonize</h3>
	<% if flash[:notice] %>
		<% flash[:notice].each do |error| %>
			<h3 class='errors'><%= error %></h3>
		<% end %> 	
	<% end %> 

		<div id="new_top">

				<div id="genre" class='genre_options'>
					<h4>Genres: </h4>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Rock</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="#">Metal</a></li>
								<li class='genre_options'><a href="#">Alternative</a></li>
								<li class='genre_options'><a href="#">Post Rock</a></li>
								<li class='genre_options'><a href="#">Classic Rock</a></li>
								<li class='genre_options'><a href="#">Punk</a></li>
								<li class='genre_options'><a href="#">Indie</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Blues</a>	
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Electronic</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Country</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Folk</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Celtic</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Soul</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">R&B</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Hip Hop</a>
						</li>
					</ul>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Funk</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Rap</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Pop</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Covers</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Reggae</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Jazz</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Ska</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Latin</a>
						</li>
						<li class="dropdown-submenu genre_options">
							<a tabindex="-1" href="#">Bluegrass</a>
						</li>
					</ul>
					<h4 id='genre_results'></h4>
				</div>

				<div id="main_instr" class='col-md-6'>
					<div class='instrument_options'>
						<h4>Main Instruments:</h4>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
							<li class="dropdown-submenu">
								<a tabindex="-1" href="#">Guitar</a>
								<ul class="dropdown-menu instr_options">
									<li><a tabindex="-1" href="#">Acoustic</a></li>
									<li><a href="#">Banjo</a></li>
									<li><a href="#">Bass</a></li>
									<li><a href="#">Lead Guitar</a></li>
									<li><a href="#">Rhythm Guitar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu instr_options">
								<a tabindex="-1" href="#">Drums</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="#">African Drums</a></li>
									<li><a href="#">Drum Set</a></li>
									<li><a href="#">miscellaneous</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu instr_options">
								<a tabindex="-1" href="#">Keyboard</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="#">Electric Keyboard</a></li>
									<li><a href="#">Organ</a></li>
									<li><a href="#">Piano</a></li>
									<li><a href="#">Percussive</a></li>
									<li><a href="#">Synth</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu instr_options">
								<a tabindex="-1" href="#">Vocals</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="#">Beat Boxer</a></li>
									<li><a href="#">Rapper</a></li>
									<li><a href="#">Singer</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<h4 id='instrument_results'></h4>
				</div>

				<div id="seeker" class='col-md-6'>
					<div class='seeking_options'>
						<h4>Seeking:</h4>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
							<li class="dropdown-submenu">
								<a tabindex="-1" href="#">Guitar</a>
								<ul class="dropdown-menu seeking_options">
									<li><a tabindex="-1" href="#">Acoustic</a></li>
									<li class='option'><a href="#">Banjo</a></li>
									<li><a href="#">Bass</a></li>
									<li><a href="#">Lead Guitar</a></li>
									<li><a href="#">Rhythm Guitar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu seeking_options">
								<a tabindex="-1" href="#">Drums</a>
								<ul class='dropdown-menu'>
									<li tabindex='-1'><a href="#">African Drums</a></li>
									<li><a href="#">Drum Set</a></li>
									<li><a href="#">miscellaneous</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu seeking_options">
								<a tabindex="-1" href="#">Keyboard</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="#">Electric Keyboard</a></li>
									<li><a href="#">Organ</a></li>
									<li><a href="#">Piano</a></li>
									<li><a href="#">Percussive</a></li>
									<li><a href="#">Synth</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu seeking_options">
								<a tabindex="-1" href="#">Vocals</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="#">Beat Boxer</a></li>
									<li><a href="#">Rapper</a></li>
									<li><a href="#">Singer</a></li>
								</ul>
							</li>
						</ul>
						<h4 id='seeking_results'></h4>
					</div>
				</div>
		</div>
		
		<div id="reg_form">
			<%= simple_form_for(@user, html: {class: 'register_form', multipart: true }) do |f|  %>
			<div id="reg_form1">
			
				<%= f.input :first_name %>
				<%= f.input :last_name %>
				<%= f.input :email %>
				<%= f.input :password %>
				<%= f.input :confirm_password %>
				Profile Image <br>
				<%= f.file_field :profile_image %>
			</div>
			<div id="reg_form2">
				<%= f.input :zip, label: "Zip Code" %>
				<%= f.input :age %>
				<%= f.input :inband, label: "Are You Currently In A Band?", as: :radio_buttons %>
				<%= f.input :bio, label: "Biography", as: :text %>
				<%= f.button :submit, class: "blkbutton right meow"  %>
			
			</div>
			<% end %> 
		</div>

<div id="wires"><%= link_to image_tag("wires.png") %></div>
</div><!-- end of CONTAINER div -->
</div>


