<div class="space">
<div class='container'>

	<div id="profile_top">
		<div class='profile_image'>
			<% if @user.profile_image.to_s == '' %>
				<%= image_tag "profile_placeholder.png" %>
			<% else %>	
				<%=  %><!-- image_tag @user.profile_image_url -->

			<% end %>	
		</div><!--  this is where the profile image appears -->
		<% if signed_in? %>
		<div id="edit_save" class="right blkbutton">
			<% if @user.id == session[:user_id] %>	
				<a data-remote='true' id='edit_profile'>Edit Profile</a>
				<a data-remote='true' id='update_profile'>Save Profile</a>
			<% else %>
				<a data-remote='true' id='send_message' data-toggle="modal" data-target="#myModal">Message <%= @user.first_name %></a>	
			<% end %>
		</div>
		<% end %>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Send <%= @user.first_name %> A Message</h4>
		      </div>
		      <form action="<%= new_message_path %>" method='post' id='message_form'>
			      <div class="modal-body">
					<textarea name="description" form='message_form' cols="200" rows="3" ></textarea>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="blkbutton" data-dismiss="modal">Close</button>
			        <input type="hidden" name='message_to' value=<%=@user.id %>>
			        <input type="hidden" name='authenticity_token' id='token' value=<%=form_authenticity_token %>>
			        <input type="submit" class="blk1button" value='Send'>
			      </div>
		      </form>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<!-- Main Info -->
		<h2 id="name_label"><span class='user_info' style='font-size: 30px;' id='name'><%= @user.first_name + " " + @user.last_name %></span></h2>
		
		<h5>Location: <span class='user_info' id='city'><%= @user.city %></span></h5>
		<h5>Email: <span class='user_info' id='email'><%= @user.email %></span></h5>
		<h5 id='instruments_label' style='display: inline;'>Main Instrument(s): 
			<% @user.instruments.each do |instrument| %>
			 <%= instrument.instrument %>
			 <% end %>
		</h5>
		<label for="" id='main_instruments' style='display: inline-block; margin-left: 10px; margin-top: -50px;'></label>
		<div id='instruments_pop_up' style='z-index:2000;' class="relative"></div>
	</div><!-- end of PROFILE_TOP -->

	<div id='profile_mid'>

		<div id='pro_mid_top' class="left">

			<!-- Bio -->
			<div id="bio_title"></div>
			
			<p id='bio'><%= @user.bio %></p>
		</div><!-- end of PRO_MID_TOP -->

		<div id="pro_mid_bottom">

			<div id="pro_bottom_left">
				<!-- General Info -->
				<h4>General Info</h4>
				<label for="in_band" id='inband'>
					<% if @user.inband  %>
					<input type="hidden" id='inband_value' value='true'>
					<%= @user.first_name %> <span class='bold'>is</span> currently in a band
					<% else %>
					<input type="hidden" id='inband_value' value='false'>
					<%= @user.first_name %> <span class='bold'>is not</span> currently in a band
					<% end %>
				</label>
				<label for="seeking" id='seeking_label'style='display: inline-block' >
					<span class="bold">Seeking: </span>
					<% if @user.seeking %>
						<% @user.seeking.instruments.each do |instrument| %>
					 		<span class='seeking_items'><%= instrument.instrument %><% if instrument != @user.seeking.instruments.last %>,
					 			<% end %>
					 		</span>
						<% end %>
					<% end %>
					<div id='seeking_pop_up' style='z-index:2000;' class='relative'></div>
				</label>
				<label for="" id='seeking' style='display: inline-block; margin-left: 10px; margin-top: -50px;'></label>
				<div></div>
				<label for="" style='display: inline-block;' id='genres_label'><span class="bold">Genre(s): </span>
					<div id='genres_pop_up' style='z-index:2000;' class="relative"></div>
					<% @user.genres.each do |genre| %>
					<span class='genre_items'><%= genre.genre %><% if genre != @user.genres.last %>,
						<% end %>
					</span>
					<% end %>
				</label>
				<label for="" id='genres' style='display: inline-block; margin-left: 10px; margin-top: -50px;'></label>
				
				<label for="current_group" id='current_band'>
				<% if @user.inband %>
				<span class="bold">Current Band: </span><label id='current_band_value'><%= @user.current_band %></label>
				<% end %>
				</label>
			</div><!-- end of PRO_BOTTOM-LEFT -->

			<div id="pro_bottom_right" class="right">

				<!-- Experience -->
				<h4 id='instr_experience'>Experience As</h4>
				<% @user.instruments.reverse.each do |instrument| %>
				<h5 style='display: inline-block;'><i><%= instrument.instrument %></i></h5>

					<div style='display: inline-block;' class='experience' data-instr='<%=instrument.instrument %>' data-id=<%= instrument.id %>></div>
					<div id='exp<%= instrument.id %>'>
						<% instrument.experiences.each do |exp| %> 
							- <%= exp.description %> <br>
						<% end %>
					</div>

				<% end %>		
				<h4>Tracks</h4>
				<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=3059345566/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://iammosh.bandcamp.com/album/empire">Empire by Mosh</a></iframe>
				<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=1243636615/size=small/bgcol=ffffff/linkcol=0687f5/t=1/transparent=true/" seamless><a href="http://jamesadams.bandcamp.com/album/waiting-here">Waiting Here by James Adams</a></iframe>
				<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=602782378/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://crowhurst.bandcamp.com/album/crowhurst-and-wet-dream-asphyxiation">Crowhurst and Wet Dream Asphyxiation by Crowhurst</a></iframe>
				<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=3568243972/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://brownswoodrecordings.bandcamp.com/album/diggs-duke-offering-for-anxious">Diggs Duke - Offering For Anxious by Brownswood Recordings</a></iframe>
				<!-- Tracks(uploaded or soundcloud) -->
			</div><!-- end of PRO_BOTTOM_RIGHT -->

		</div><!-- end of PRO_MID_BOTTOM -->

	</div><!-- end of PROFILE_MID -->

	<input id='user_id' type="hidden" value=<%= @user.id %>>
	<input type="hidden" name='authenticity_token' id='token' value=<%=form_authenticity_token %>>
	<div id='profile_bottom'>
		<!-- Links to other pages -->
		<h4 style='display:inline-block;'>Other Links</h4>
		<label for="links" id='links' style='display:inline-block;'></label>
		<br>
		<% @user.links.each do |link| %>
			<%= link_to link.title, link.url, target: '_blank' %><% if link != @user.links.last %> | <% end %>
		<% end %>	
	</div>
	<div id='bottom'>
		
	</div>		
</div><!-- end of CONTAINER div -->
</div><!-- end of SPACE div -->