

<div class='container'>
	<div class='row'>
		<div class='profile_image col-md-6'><%= image_tag "aaron.png" %></div>
		<div class='col-md-6'>
			<!-- Main Info -->
			<h1><%= @user.first_name + " " + @user.last_name %></h1>
			<h3>Main Instrument(s)
			<% @user.instruments.each do |instrument| %>
			 <%= instrument.instrument %>
			 <% end %>
			</h3>
			<h4>Lives in <%= @user.city %></h4>
			<h4>Email: <%= @user.email %></h4>
		</div>
		<% if @user.id == session[:user_id] %>
		<%= link_to "Edit Profile",edit_user_path(@user.id) %>
		<% end %>
	</div>
	<div class='row'>
		<div class='col-md-6'>
			<!-- Bio -->
			<h2>Bio</h2>
			<p><%= @user.bio %></p>
			<!-- General Info -->
			<h2>General Info</h2>
			<label for="in_band">
				<% if @user.inband  %>
				<%= @user.first_name + ' is currently in a band' %>
				<% else %>
				<%= @user.first_name + ' is not currently in a band' %>
				<% end %>
			</label>
			<label for="seeking">
				Seeking
				<% if @user.seeking %>
					<% @user.seeking.instruments.each do |instrument| %>
				 <%= instrument.instrument %>,
					<% end %>
				<% end %>
			</label>
			<label for="">Main Genres:
				<% @user.genres.each do |genre| %>
				<%= genre.genre %>
				<% end %>
			</label>
			<label for="current_group">
			<% if @user.inband %>
			Current Band: <%= @user.current_band %>
			<% end %>
			</label>
			<!-- Experience -->
			<h2>Experience With</h2>
			<% @user.instruments.each do |instrument| %>
			<h4><%= instrument.instrument %></h4>
				<% instrument.experiences.each do |exp| %> 
					- <%= exp.description %> (<%= exp.length %> years)<br>
				<% end %>
			<% end %>
		</div>
		<div class='col-md-6'>
			<!-- Tracks(uploaded or soundcloud) -->
			<h2>Tracks</h2>
			<!-- Links to other pages -->
			<h2>Other Links</h2>
			<% @user.links.each do |link| %>
				<%= link_to link.title, 'http://facebook.com', target: '_blank' %>
			<% end %>	
		</div>


	</div>
</div>