<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="http://www.favicongenerator.com/favicon2/h-20131028-favicon.ico">
  <title>Harmonize</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<body>

  <div id="top">
    <div id="nav">
      <%= link_to image_tag("banner.png") %>
      <ul>
        <% if signed_in? %>
        <li><%= link_to 'Home',users_path, :class => 'white' %></li>
        <li><%= link_to 'Profile',user_path(session[:user_id], :class => 'white') %></li>
        <li><%= link_to 'Logout', destroy_path(session[:user_id]), method: :delete, :class => 'white' %></li>  
        <% else %>
        <li><%= link_to 'Home',users_path, :class => 'white' %></li>
        <li><%= link_to 'Login', login_path, :class => 'white' %></li> 
        <li><%= link_to 'Sign Up',new_user_path, :class => 'white' %></li>
        <% end %>
      </ul>
    </div><!-- end of NAV div -->
  </div><!--  end of TOP div -->

  <%= yield %>

</body>
</html>
